/**
 * @name Discord CSS template
 * @author BetterDiscord
 * @description https://docs.betterdiscord.app/discord/variables#borders
 * borders
 
 */


 :root {
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --radius-xxl: 32px;
    --radius-round: 2147483647px
}